/* Project Guidelines:
    background color: #1e40af;
    upbar text color:  #fafafa;
    redColor = #dc2626

*/

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* REM unit == 10px */
  font-size: 62.5%;
  color: #fafafa;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

/* Landing Page */

.landing {
  height: 80rem;
  width: 100vw;
  margin-top: 5rem;
  /* position: fixed; */
  background-color: #fafafa;
  /* background-image: url(/media/logo-temp.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}

.landing-information {
  position: fixed;
  background-color: #dc2626;
  width: 100vw;
  height: 5rem;
  padding: 0 2rem 0 2rem;
  margin-top: -5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-contact {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.information-link:link,
.information-link:visited {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #fafafa;
  text-decoration: none;
}

.information-mail-icon {
  font-size: 2.4rem;
}

.contact-text {
  font-size: 1.4rem;
  padding-right: 1rem;
}

.line {
  font-weight: 700;
}

.information-phone-icon {
  font-size: 1.8rem;
}

.social-media {
  color: #fafafa;
}

.instagram-logo {
  font-size: 2.2rem;
}

.landing-navbar {
  width: 100vw;
  height: 10rem;
  background-color: #1e40af;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem 0 2rem;
}

.nav-logo {
  width: 18.5rem;
  height: 10.5rem;

  margin-top: 1.3rem;
  margin-left: -2.5rem;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fafafa;
}

.nav-link:hover,
.nav-link:active {
  font-weight: 500;
  text-decoration: none;
  text-decoration: underline;
}

.nav-link:active {
  color: #3b82f6;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  text-transform: uppercase;
  font-weight: 300;
  padding-right: 1rem;

  font-size: 2rem;
  list-style: none;
}

.landing-body {
  height: 65rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-left {
  width: 55vw;
  padding-left: 10vw;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.2rem;
}

.body-title {
  font-size: 4.2rem;
  color: #09090b;
}

.title-light {
  font-weight: 300;
}

.body-text {
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  line-height: 25px;
  color: #18181b;
}

.body-buttons {
  margin-top: 1.4rem;
  /* width: 40vw; */
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.body-btn:link,
.body-btn:visited {
  display: inline-block;
  color: #fafafa;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 600;
  background-color: #dc2626;
  padding: 1rem 1.6rem;
  /* box-sizing: border-box; */

  border-radius: 7px;
  transition: 0.5s all;
}

.body-btn:hover {
  color: #dc2626;
  background-color: #fafafa;
  box-shadow: inset 0 0 0 2.5px #dc2626;

  transition: 0.1s all;
}

.body-btn:active {
  color: #fafafa;
  background-color: #dc2626;
}

.body-right {
  width: 60%;
  color: #09090b;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -5rem;
}

.logo-body {
  width: 30%;
  height: 30%;
}

.logo-text-big {
  font-size: 4.2rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 500;
}

.logo-text-small {
  font-size: 2rem;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: 500;
}

/* PRODUCTS AND SERVICES */
.products {
  width: 100vw;
  height: 80rem;
  background-color: hsla(226, 71%, 40%, 0.95);
}

/* WHO WE ARE ? */
.company {
  width: 100vw;
  height: 80rem;
  background-color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.company-info {
  margin-left: 5vw;
  width: 40vw;
  flex-direction: column;
  align-items: start;
  gap: 1.4rem;
  /* margin-top: -1.2rem; */
}

.company-info-text {
  /* margin-top: -1.6rem; */
  font-size: 1.9rem;
  line-height: 2.8rem;
  text-align: justify;
  /* text-justify: auto; */
}

.company-members {
  width: 50vw;
  flex-direction: column;
  gap: 2.6rem;
}

.members-card {
  background-color: #1e40af;
  width: 50rem;
  height: 20rem;
  border-radius: 15px;

  transition: all 0.5s;
}

.members-card:hover {
  transform: translate(1.2rem, 0);
}

.card-image {
  width: 35%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-info {
  padding-left: 2rem;
  width: 65%;
  flex-direction: column;
  align-items: start;
  flex-direction: column;
  gap: 0.3rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  color: #fafafa;
  text-transform: uppercase;
}

.card-text {
  font-size: 1.4rem;
  font-weight: 200;
  color: #fafafa;
}

.phone {
  margin-top: 2rem;
  gap: 0.6rem;
}

.card-icon {
  font-size: 1.4rem;
}

.card-contact {
  font-weight: 300;
  font-size: 1.6rem;
}

.link-format {
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
}

.mail {
  gap: 0.6rem;
}

.location {
  gap: 0.6rem;
}

.products {
  gap: 5.2rem;
  flex-direction: column;
}

.products-title {
  font-size: 5.2rem;
  color: #fafafa;
}

.products-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.product-card {
  background-color: #3b82f6;
  width: 32rem;
  height: 22rem;
  border-radius: 15px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.35);

  transition: all 0.5s;
}

.product-card:hover {
  transform: translate(0, -1rem);
}

.product-img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-text-container {
  height: 35%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.products-text {
  font-size: 2.25rem;

  font-weight: 600;
}

/* Our services */

.services {
  height: 90rem;
  width: 100vw;
  background-color: #1e40af;

  flex-direction: column;
  gap: 2.4rem;
}

.services-title {
  color: #fafafa;
}

.services-text {
  text-justify: initial;
  text-align: justify;
  color: hsla(0, 0%, 98%, 0.8);
  width: 80vw;
  line-height: 2.9rem;
}

.bold {
  font-weight: 700;
  color: #fafafa;
}

.partners {
  width: 100vw;
  height: 43rem;

  flex-direction: column;
  gap: 3.2rem;
}

.partners-list {
  align-items: start;
  gap: 5.2rem;
}

.partners-title {
  color: hsla(240, 6%, 10%, 0.85);
  font-size: 2.2rem;
}

.brands-list {
  margin-top: 0.5rem;
}

.brand-name:link,
.brand-name:visited {
  display: inline-block;
  text-decoration: none;

  transition: all 0.3s;
}

.brand-name:hover {
  color: hsla(240, 10%, 4%, 0.6);
  transform: translate(5px, 0);
}

.brand-name:active {
  color: #18181b;
}

.brands-items {
  display: flex;
}

.end {
  width: 100vw;
  height: 16rem;

  background-color: #1e40af;
}

.end-title {
  color: #fafafa;
}

.underline {
  text-decoration: underline;
}
